1. 엑셀 불러와서 sheet2 만들기

pd.read_excel 옵션값
https://rfriend.tistory.com/464

dataframe 옵션
https://brunch.co.kr/@parkean/7

In [1]:
import pandas as pd
from openpyxl import load_workbook
from datetime import datetime

In [2]:
#이름 입력하도록 설정
path = r"example_file_toyota.xlsm"

In [3]:
data = pd.read_excel(path, sheet_name = 0,na_values= ' ') #paht 위치에 있는 엑셀 파일 읽어오기 / na_values= 'NaN'

In [4]:
test_data = data
display(test_data.head())

print(test_data.info())

,Respondent.Serial,Respondent.Serial.SourceFile,Respondent.Origin,Respondent.Origin.Other,Respondent.ID,DataCollection.Status,DataCollection.InterviewerID,DataCollection.StartTime,DataCollection.FinishTime,DataCollection.MetadataVersionNumber,...,Timings.timeTotalMinutesText,Timings.timeTotalMinutes,Satisfaction.q1,Satisfaction.q2,comp,GOADtest,EA0xordxtext,A10x1ord,yyyymmdd,weekno
0,4,NaN,{htmlplayer},NaN,GEN24_6092006,"{scriptstopped,signal}",NaN,2020-06-23 07:21:49,2020-06-23 07:22:23,1,...,NaN,NaN,NaN,NaN,{scr_agree},NaN,NaN,NaN,20200623,202026
1,5,NaN,{htmlplayer},NaN,GEN24_6070007,"{scriptstopped,signal}",NaN,2020-06-23 07:28:26,2020-06-23 07:29:36,1,...,NaN,NaN,NaN,NaN,{scr_sq5},NaN,NaN,NaN,20200623,202026
2,6,NaN,{htmlplayer},NaN,GEN24_6038008,"{scriptstopped,signal}",NaN,2020-06-23 07:29:09,2020-06-23 07:31:56,1,...,NaN,NaN,NaN,NaN,{scr_sq5},NaN,NaN,NaN,20200623,202026
3,7,NaN,{htmlplayer},NaN,GEN24_6009009,"{scriptstopped,signal}",NaN,2020-06-23 07:30:55,2020-06-23 07:32:14,1,...,NaN,NaN,NaN,NaN,{scr_sq5},NaN,NaN,NaN,20200623,202026
4,8,NaN,{htmlplayer},NaN,GEN24_6017010,"{scriptstopped,signal}",NaN,2020-06-23 07:32:35,2020-06-23 07:33:26,1,...,NaN,NaN,NaN,NaN,{scr_sq3},NaN,NaN,NaN,20200623,202026

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6807 entries, 0 to 6806
Columns: 935 entries, Respondent.Serial to weekno
dtypes: bool(4), datetime64[ns](9), float64(587), int64(17), object(318)
memory usage: 48.4+ MB
None

In [13]:
#한국어 응답이 하나라도 있는 열 찾아내기
import re
import string

test_data2 = data
pattern = '[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]';
koreacol = ['realid','comp']


complete_data = test_data2[test_data2['comp'] == '{completed}']
for col in complete_data.columns:
    
    complete_data[col] = complete_data[col].apply(str)

    colfilter = complete_data[col].str.contains(pattern, regex = True)
    #print(colfilter)
    if colfilter.any() ==True:
        #print(col + "true")
        koreacol.append(col)

koreancol = complete_data[koreacol]
koreancol.head(5)

C:\Users\jaewook\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

,realid,comp,A1[{_1}].slice,A2[{_1}].slice,A2[{_2}].slice,A2[{_3}].slice,A2[{_4}].slice,A2[{_5}].slice,A2[{_6}].slice,A2[{_7}].slice,...,EA_Loop[{_4}].EA2._97,EA_Loop[{_5}].EA2._97,EA_Loop[{_1}].EA3xQ,EA_Loop[{_2}].EA3xQ,EA_Loop[{_3}].EA3xQ,EA_Loop[{_4}].EA3xQ,EA_Loop[{_5}].EA3xQ,EB_Loop[{_1}].EB2._97,EB_Loop[{_1}].EB3xQ,DQ4._97
20,6070026,{completed},현대,기아,르노,쉐보레,지엠,벤츠,bmw,롤스로이스,...,nan,nan,유니크하다,"취등록세 무료, 엔진오일 평생 무료",도요타는 빠르다.,도요타는 빠르다.,엔진오일 교체 평생 무료,라디오,유지비가 무료라는 것을 강조,nan
24,6011030,{completed},현대차,쉐보레,기아,티볼리,nan,nan,nan,nan,...,nan,nan,개성을 존중하는 느낌이다,안정적인 느낌,평범한 광고였다 특징이 없었다,자유로운 느낌이었다,개성이 강하다,nan,진보적인 느낌,nan
38,6050045,{completed},bmw,아우디,현대,기아,르노,볼보,닛산,페라리,...,nan,nan,이 자동차는 개성적이다,프리우스는 개성적이고 편의성이 있다,메시지는 솔직히 모르겠다. 애매하다. 아기랑 차가 그렇게까지 연관이 있는지 모르겠다,역시 메시지는 잘 모르겠다. 아기의 움직임을 자동차핸들링 등에 연관시킨건 참신한거같...,프리우스 사면 얻을 수 있는 혜택이 이렇게나 많다,nan,렉서스에서 혜택을 이렇게나 많이 준다,nan
41,6019048,{completed},현대,벤츠,BMW,아우디,삼성,기아,링컨,파사트,...,nan,nan,프리우스 경차,경차 엔진오일 평생 무료,스피드 스푸림,핸들을 잡고 싶은 본능 스피드,하이브리드카 엔진오일 취득세 무료,nan,렉서스 하이브리드카,nan
47,6013054,{completed},테슬라,롤스로이스,벤츠,벤틀리,아우디,링컨,캐딜락,BMW,...,nan,nan,어수선하고 잘 모르겠음,여전히 잘 모르겠음,스포츠카 느낌?,남자들의 질주 본능,하이브리드 차량 지원이 많다,nan,유지비 걱정 없음,nan

### 2. 내가 필요한 열만 추출
Respondent.Serial
TotalTime2
realid
comp
DeviceDetails.isMobile
projectDetails.version
DataCollection.EndQuestion
RecordIP

In [6]:
need_columns = ['TotalTime2','realid','comp','IntroStart.IP','panelDetails.sampsrc','DeviceDetails.isMobile','projectDetails.version','DataCollection.EndQuestion']

test_data = test_data[need_columns]
display(test_data)

,TotalTime2,realid,comp,IntroStart.IP,panelDetails.sampsrc,DeviceDetails.isMobile,projectDetails.version,DataCollection.EndQuestion
0,NaN,6092006,{scr_agree},14.52.83.96,{gen24},False,1,IntroStart
1,NaN,6070007,{scr_sq5},218.156.214.197,{gen24},False,1,SQ5
2,NaN,6038008,{scr_sq5},221.148.17.116,{gen24},False,1,SQ5
3,NaN,6009009,{scr_sq5},125.179.79.156,{gen24},False,1,SQ5
4,NaN,6017010,{scr_sq3},203.253.159.19,{gen24},False,1,SQ3
...,...,...,...,...,...,...,...,...
6802,NaN,60816879,{jwquality},NaN,{gen24},False,1,jwPlayVid2-1
6803,NaN,60956880,{scr_sq5},36.38.80.127,{gen24},False,1,SQ5
6804,NaN,60296881,{incomplete},NaN,{gen24},False,1,jwPlayVid2_
6805,NaN,60996882,{scr_sq5},175.208.141.112,{gen24},False,1,SQ5
6806,NaN,60336883,{scr_sq3},122.36.236.57,{gen24},False,1,SQ3

### 2-1 추가 작업(어려운작업이라 skip)
데이터 값 중 한글이나, 영어 있으면 살리기
-> 모음 또는 자음으로만 되어 있으면 빨간색

### 2-2 RecordIP 중복값 표시

In [7]:
#중복있는 값은 True로 체크
test_data['duplicate_chk'] = (test_data.duplicated(['IntroStart.IP']))

#확인
test_data = test_data[test_data['duplicate_chk']==True]
test_data.head()

C:\Users\jaewook\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,TotalTime2,realid,comp,IntroStart.IP,panelDetails.sampsrc,DeviceDetails.isMobile,projectDetails.version,DataCollection.EndQuestion,duplicate_chk
16,NaN,6064022,{scr_sq6},NaN,{gen24},False,1,SQ6,True
19,NaN,6034025,{jwquality2},NaN,{gen24},False,1,jwPlayVid2_,True
25,NaN,6033031,{incomplete},NaN,{gen24},False,1,avQuality,True
33,NaN,6031039,{jwquality2},NaN,{gen24},False,1,jwPlayVid2_,True
34,NaN,6068040,{jwquality2},NaN,{gen24},False,1,jwPlayVid2_,True

In [8]:
ip_all =list(test_data['IntroStart.IP'])
ip_realid = test_data[['realid','IntroStart.IP']]
# display(ip_realid.head())

ip_unique_list = list((set(ip_all)))

ip_dict = {}
for i in ip_unique_list:
    ip_dict[i] = ip_all.count(i)   

    
ip_dataFrame = pd.DataFrame(list(ip_dict.items()), columns=['IntroStart.IP', 'IP_Count']).sort_values(by='IP_Count',ascending=False)
ip_dataFrame = ip_dataFrame.dropna()
#display(ip_dataFrame.head())


ip_final_table = pd.merge(ip_dataFrame,ip_realid, on='IntroStart.IP', how='left')
ip_final_table

       IntroStart.IP  IP_Count    realid
0      58.123.234.48         9   6089497
1      58.123.234.48         9   6048507
2      58.123.234.48         9   6071518
3      58.123.234.48         9  60142114
4      58.123.234.48         9  60336334
..               ...       ...       ...
381   211.253.121.18         1  60615375
382      59.0.160.53         1   6033271
383     1.229.12.147         1  60565813
384  211.106.121.174         1  60105325
385   182.208.136.98         1  60033126

[386 rows x 3 columns]

### 2-3 COMP 처리

#### 3. comp 행에서 {scr_ 으로 시작하면 전부 {scr_out}으로 치환

In [9]:
test_data.loc[((test_data.comp.str.startswith("{scr_")) | (test_data.comp.str.startswith("{jwquality"))) , "comp"] = "{scr_out}"
test_data

,TotalTime2,realid,comp,IntroStart.IP,panelDetails.sampsrc,DeviceDetails.isMobile,projectDetails.version,DataCollection.EndQuestion,duplicate_chk
16,NaN,6064022,{scr_out},NaN,{gen24},False,1,SQ6,True
19,NaN,6034025,{scr_out},NaN,{gen24},False,1,jwPlayVid2_,True
25,NaN,6033031,{incomplete},NaN,{gen24},False,1,avQuality,True
33,NaN,6031039,{scr_out},NaN,{gen24},False,1,jwPlayVid2_,True
34,NaN,6068040,{scr_out},NaN,{gen24},False,1,jwPlayVid2_,True
...,...,...,...,...,...,...,...,...,...
6797,NaN,60646874,{incomplete},NaN,{gen24},False,1,avQuality,True
6798,NaN,60696875,{scr_out},NaN,{gen24},False,1,jwPlayVid2_,True
6801,NaN,60586878,{incomplete},NaN,{gen24},False,1,jwPlayVid2_,True
6802,NaN,60816879,{scr_out},NaN,{gen24},False,1,jwPlayVid2-1,True
6804,NaN,60296881,{incomplete},NaN,{gen24},False,1,jwPlayVid2_,True

In [10]:
#margin의 의미는 모든 값을 합산한 값을 보여주는 인덱스를 생성할 지를 결정하는 인자다.

pivot = pd.pivot_table(test_data, index='comp', values ='realid',aggfunc = 'count', margins = True)
pivotdf = pd.DataFrame(pivot)


pivotdf.loc['LOI(min)'] = test_data['TotalTime2'].median()
pivotdf

              realid
comp
{completed}     49.0
{incomplete}   311.0
{overquota}    104.0
{scr_out}     1480.0
All           1944.0
LOI(min)        23.0

In [11]:
# 1. 엑셀 파일 열기 w/ExcelWriter
datestring = datetime.strftime(datetime.now(), '%Y%m%d') #저장 날짜로 파일 이름 만들기
filename = 'Respondent_list'+ '_' + datestring.strip() + '_final.xlsx'

# df_needs_columns.to_excel(excel_writer=filename)   
writer = pd.ExcelWriter(filename, engine='xlsxwriter')

# 2. 시트별 데이터 추가하기(1개 시트로 저장할때와 유사)
data.to_excel(writer, sheet_name= 'Raw_Data')
pivotdf.to_excel(writer, sheet_name= 'Pivot_Table')
#test_data.to_excel(writer, sheet_name= 'After_Data')
ip_final_table.to_excel(writer, sheet_name='IP 중복값 Pivot')
koreancol.to_excel(writer,sheet_name='KoreanCol..[update 중]')

# 3. 엑셀 파일 저장하기
writer.save()

In [12]:
#Version Update...To be...

#부스터 있을 때 median 값 각각 계산 하는거 추가
#추가로 더 뽑을 열 입력 받을 수 있게
#koreancol로 나중에 불량처리
#open 응답 걸러내기 - 완료